{% extends "layouts/login.html" %} {% block content %}
<div style="width: 30rem">
  <form action="{{ url_for('auth.reset_password') }}" method="POST">
    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input
        type="text"
        name="otp"
        id="otpID"
        maxlength="6"
        class="form-control form-control-lg otp-input"
        required
      />
      <label class="form-label" for="passwordID">OTP Code</label>
      <div class="form-helper text-danger otp-validation"></div>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input
        type="password"
        name="password"
        id="passwordID"
        maxlength="30"
        class="form-control form-control-lg password-input"
        required
      />
      <label class="form-label" for="passwordID">New Password</label>
      <div class="form-helper text-danger password-validation"></div>
    </div>

    <!-- Submit button -->

    <button
      type="submit"
      data-mdb-button-initialized="true"
      class="btn btn-lg text-white btn-block submitting-button"
      style="background-color: #7a9e85"
    >
      Reset Password
    </button>
  </form>
</div>
{% endblock %}
